/* 侧边栏的样式 */

.sidebar {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*height: 100%;*/
    width: 80px;
    background-color: #b595f6;
    background-color: rgba(97, 120, 250, 0.2); /* 使用 rgba 设置透明度 */
    padding: 20px;
    z-index: 900;/*保证侧边栏在主内容区之上*/
}

.sidebar-nav {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav li {
    margin-bottom: 10px;
}

.sidebar-nav a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
}

.sidebar-nav a:hover {
    background-color: #f18bf3;
}


