/* 页脚样式 */
footer {
    background-color: rgba(157, 223, 247, 0.3); /* 背景颜色 */
    color: rgb(239, 111, 246);          /* 字体颜色 */
    text-align: center;    /* 文本居中 */
    padding: 10px 0;       /* 内边距 */
    width: 100%;           /* 宽度占满页面 */
    /*position: fixed;       /* 固定定位 */
    bottom: 0;             /* 定位于底部 */
    left: 0;               /* 定位于左侧 */
    z-index: 1000;         /* 确保在最上层 */
    /*margin-top: 20px; /* 设置 footer 与 main 的间距 */
}

    /*flex-shrink: 0; /* 确保页脚不被缩小 */

